<div class="container my-auto p-3">
  
    <div class="container"  style="color: rgb(255, 255, 255, 0.95);">
        <h1 class="text-center py-3">Education</h1>
        <hr >
        <br>
    </div>

    <div class="row">
        <div class="col-4"><div class="card" style="width: 18rem; height: 20rem;">
            <img src="https://www.sorubak.com/images/teog/360r1.png" class="card-img-top" alt="...">
            <br>
            <div class="card-body">
              <h5 class="card-title">Mustafa Hakan Guvencer Fen Lisesi</h5>
              <p class="card-text">2014-2019</p>
             
            </div>
          </div></div>
        <div class="col-4"><div class="card" style="width: 18rem; height: 20rem;">
            <img src="https://www.tercihrobotu.com.tr/MediaFiles/Universities/Images/IMG_000178.jpg" class="card-img-top" alt="...">
            <br>
            <div class="card-body">
              <h5 class="card-title">University of Turkish Aeronautical Association</h5>
              <p class="card-text">2019-2024</p>
              
            </div>
          </div></div>
        <div class="col-4"><div class="card" style="width: 18rem; height: 20rem;">
            <img src="https://bi.im-g.pl/im/ab/00/13/z19923371AMP,Wydzial-Elektryczny-Politechniki-Czestochowskiej.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Czestochowa University of Technology</h5>
              <p class="card-text">2022 - Spring</p>
             
            </div>
          </div></div>
    </div>
    <br>
    <hr style="color: rgb(255, 255, 255, 0.95);">
  </div>