<div class="container">
    <div class="row py-4 ">
        <div class="col-3">
            <div class="card" style="width: 18rem; height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmx-8CQSp8mn-MFEPzipZZLKOCyjvnOhRDeg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <hr>
                  <h5 class="card-title">Electroguitar</h5>
                  
                </div>
              </div>
        </div>
        
        <div class="col-3 ">
            <div class="card" style="width: 18rem; height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqoRhccovWlAd7E8w3UF0EwsRqh-CTruPv4w&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                    <hr>
                  <h5 class="card-title">Reading</h5>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem; height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ6-VlGO3pagAV_jkNmBtc40R8UOm_o8mQBQ&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <hr>
                  <h5 class="card-title">Theatre</h5>
              
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem; height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCv25iCt2VL2gvDOfHOzlMZpsNg7p3CQf8Nw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                    <hr>
                  <h5 class="card-title">Boxing</h5>
                
                
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem; height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2qEJphtStqQrqO-bUpbL4x_nZIA7OcrYoxA&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <hr>
                  <h5 class="card-title">Hiking</h5>
              
                 
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5XKK0spYLLMGD76g5Pnj6OVAo_cJpmJ4x3Q&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <hr>
                  <h5 class="card-title">Swimming</h5>
                 
                
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2wf2TyyboBS7kLxYWZI5IJYRRh1sCaJ8CRw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                    <hr>
                  <h5 class="card-title">Video Games</h5>
                 
                
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;height: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJFzdGQD92zTUd71wXKq8wVH9TZ-PYEjF5MQ&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                    <hr>
                  <h5 class="card-title">TV Series</h5>
                 
                
                </div>
              </div>
        </div>
    </div>
</div>