<div class="container">
  <div class="row">
    <div class="col-8 ps-5">
      <img src="https://cdn.discordapp.com/attachments/1087500651673682050/1095420234753654844/me.png" style="height: 40rem;" alt="">
    </div>
    <div class="col-1 verticalLine"></div>
    <div class="col-3 ">
      <div class="container my-5 pe-5" style="color: rgb(255, 255, 255, 0.95)">
        <h2>Summary</h2>
        <br>
        <hr>
        <br>
        <p>This is a demo for 'My Portfolio' website project.</p>
      </div>
    </div>
  </div>
</div>