<div class="page-container">
    <div class="sidebar">
        <div class="list-items">
            <a routerLink="/page-1" class="list-item" style="text-decoration: none" >
                <span class="material-icons">home</span>
                Home
            </a>
            <a routerLink="/page-2" class="list-item" style="text-decoration: none">
                <span class="material-icons">school</span>
                Academic
            </a>
            <a routerLink="/page-3" class="list-item" style="text-decoration: none">
                <span class="material-icons">celebration</span>
                Hobbies
            </a>

        </div>
    </div>

    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>

</div>